
@import url('https://fonts.googleapis.com/css?family=Passion+One:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:500');
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.sprite{
	visibility: hidden ;
	position: absolute;
	z-index: -1000 ;
	}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 1rem ;
	line-height: 1.5 ;
	background-color: black ; 
	color: white ;
	//background: linear-gradient(to right, white, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	//overflow: hidden ;
	}

h1{
	font-family: 'Passion One', cursive;
	font-size:1.1rem ;
	letter-spacing: 1px ;
	line-height: normal ;
	text-transform: uppercase ;
	}

.wrapperSection > span {
	font-family: 'Passion One', cursive;
	font-size: 3.5rem ;
	line-height: normal ;
	text-transform: uppercase ;
	}
	
.ico svg{
	width: 100% ;
	height: 100% ;
	position: absolute ;
	top: 0 ;	
	left:0 ;
	}

.bttn {
	margin-top: 2.5em ;
	box-sizing: border-box;
    color:white;
  text-decoration:none;
  transition:0.4s ease all;
  font-size:15px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:185px;
  font-weight:bold;
  padding:10px 0px;
  border:3px solid white;
  border-radius:2px;
  position:relative;
  //background-color:#EEA637; 
  box-shadow: 0 2px 10px rgba(255,255,255,0.16), 0 3px 6px rgba(255,255,255,0.1);
  }
  .bttn:hover {
    color:black;
    box-sizing: border-box;
    }
  .bttn:focus {
  	transition: 0 ;
    background-color: #EEA637;
    }
  .bttn::before {
    width:0% ;
    height: 100% ;
    transition:0.4s all ease;
    position:absolute;
    top:0;
    left:50%;
    //right: 50%;
    opacity:0;
    content:'';
    background-color:white;
    z-index:-2;
  }
   .bttn:hover::before {
      transition:0.4s all ease;
      left:50%;
      width: 50% ;
      //right:0;
      opacity:1;
    }
    .bttn:focus::before {
     height: 0 ;
     opacity:0;
    }
  
    .bttn::after {
    width:0% ;
    height: 100% ;
    transition:0.4s all ease;
    position:absolute;
    top:0;
    //left:50%;
    right: 50%;
    opacity:0;
    content:'';
    background-color: white;
    z-index:-2;
  }
   .bttn:hover::after {
      transition:0.4s all ease;
      //left:0;
      right:50%;
      width: 50% ;
      opacity:1;

    }
   .bttn:focus::after {
     opacity:0;
    }
  

.flexibleMedia{
	display: block ;
	max-width: 100% ;
	width: auto
	}

.mainHeader .mainNav{
	display: block ;
	width: 100% ;
	height: 90px ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	background-color: black ;
	//border-bottom: solid 1px white ;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, rgba(12,12,12), #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	z-index: 999;
	transition: all .6s
	}
.oculto{
	display: none ;
	}

.mainNav .logoPage{
	width: 40px ;
	height: 40px ;
	position: absolute ;
	top: 50% ;
	left: 22px ;
	transform: translateY(-50%);
	}

.mainHeader .mainNav h1:nth-of-type(1){
	display: none ;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) scale(1);
    font-size: 1rem;
	}

.mainHeader .mainNav h1:nth-of-type(2){
	display: none ;
	position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%) scale(1);
	}

.mainNav .nolan{
	display: none ;
    width: 140px;
    height: 30px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
	}

.mainNav .burger{
	width: 30px ;
	height: 30px ;
	position: absolute ;
	top: 50% ;
	right: 30px ;
	transform: translateY(-50%);
	fill: white ;
	}

.mainHeader ul{
	width: 100vw ;
	height: 100vh ;
	box-sizing: border-box;
	position: fixed ;
	top: 0 ;
	right: -110% ;
	padding: 200px 42px ;
	border-left:  1px solid white;
	z-index: -1;
	transition: all .4s ;
	}

.mainHeader .desplegar{
	right: 0 ;
	}

.mainHeader a{
	box-sizing: border-box ;
	margin-top: 50px ;
	padding: 0 15px ;
	font-size: 2rem ;
	font-family: 'Passion One', cursive;
	letter-spacing: 1px ;
	text-transform: uppercase ;
	line-height: 1.2 ;
	color: white ;
	text-decoration: none ;
	}

/* INDEX */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 32px;
    box-sizing: border-box;
	}

.hero .wrapperHero{
    width: 100%;
    /* display: none; */
    height: 50%;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
	}

.symbolBatman{
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
	}

#symbolBatman path{
	//fill: white ;
	stroke: #fff;
	stroke-dasharray: 1800 ;
	opacity: 10 ;
	transition: fill 1s ;
	animation: animate 3.5s cubic-bezier(0,0.23,1,.1);
  	}

@keyframes animate{
	0%{
    	opacity: 0 ;
    	fill: none ;
    	stroke-dashoffset: 1800;
  		}
    20%{
    	opacity: 10 ;
    	fill: none ;
    	stroke-dashoffset: 1800;
    	}
	100%{
    	opacity: 10 ;
    	stroke-dashoffset: 0;
  		}
	}



.hero h1:nth-of-type(1){
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    font-size: 1.5rem;
    transition: all .6s;
    animation: mvtTrilogy .6s ease-in-out backwards;
	}

@keyframes mvtTrilogy{
	0%{
		opacity: 0 ;
		}
	}

.hero h1:nth-of-type(2){
    position: absolute;
    top: 20%;
    /* left: 50%; */
    font-size: 2rem;
    width: 100%;
    text-align: center;
    /* transform: translate(-50%,-50%) scale(1); */
    transition: all 1s;
    animation: mvtDark .6s ease-in-out backwards;
	}

@keyframes mvtDark{
		0%{
		opacity: 0
		}
	}

.hero .nolan{
    display: block;
    width: 230px;
    height: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transition: top .6s;
    transform: translate(-50%,-50%) scale(1);
	}

#nolan path{
	//fill: white ;
	stroke: #fff;
	stroke-dasharray: 1800 ;
	opacity: 10 ;
	animation: animate 7s .8s cubic-bezier(0,0.23,1,.1) backwards;
  	}

@keyframes animate{
	0%{
    	opacity: 0 ;
    	fill: none ;
    	stroke-dashoffset: 1800;
  		}
    30%{
    	opacity: 10 ;
    	fill: none ;
    	stroke-dashoffset: 1800;
    	}
	100%{
    	opacity: 10 ;
    	stroke-dashoffset: 0;
    	
  		}
	}

.arrow{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
    z-index: 99 ;
    animation: mvtArrow 1s ease-in-out infinite alternate,
 			   mostrarArrow .6s 3s backwards;
	}

@keyframes mvtArrow{
	100%{
		 bottom: 15%;
		 transform: translate(-50%,-50%) rotate(90deg);
		}

	}
@keyframes mostrarArrow{
		0%{
			opacity:0;
		}
	}
		

.batmanBegins{
	max-width: 1350px ;
	max-height: 458px ;
	width: 100% ;
	//height: 100vh;
	position: relative;
	padding: 0 32px ;
	margin-top: 20px ;
	//display: none ;
	box-sizing: border-box ;
	transition: all .4s ;
	//background-color: yellow
	}
.batmanBegins .wrapperSection{
	height: 100% ;
	//width: 500px;

	//background-color: red
	}
.batmanBegins p{
	max-width: 386px ;
	}
.Reveal_row {
    display: block;
    overflow: hidden;
    vertical-align: top;
    text-transform: uppercase;
    //background-color: yellow ;
	}

.Reveal_item {
    display: inline-block;
    transition: transform .75s cubic-bezier(.65,.02,.23,1),opacity .75s ease;
    transform: translateY(100%) rotate(5deg);
    transform-origin: 0 0;
    opacity: 0;

    position: relative;
    z-index: 1;
	}

.Reveal_item + .Reveal_item{
	margin-left: -10px ;
	}

p .Reveal_row {
    text-transform: none ;
    //background-color: yellow ;
	}


p .Reveal_item + .Reveal_item{
	margin-left: 0px ;
	}

.Reveal_animate {
    transform: translate(0) rotate(0);
    opacity: 1;
	}

section p{
	width: 50% ;
	margin-top: 1.4em ;
	//background-color: yellow ;
	}

section .Reveal_row + p{
	margin-top: 1.5em ;
	}

.prueba{
	width: 100%;
	height: 100%;
	padding: 32px;
	position: absolute;
	right: 0 ;
	top: 0 ;
	transform: translateX(0px) scale(1)
	}
.batmanBegins .batman{
    width: 20%;
    height: 350px;
    position: absolute;
    top: 60px;
	right: 45px ;
	background-image: url("ui-img/batmanBegins.png");
	background-size: contain ;
	background-repeat: no-repeat;
	transition: all .2s ;
	//border: 1px solid white ;
	//background-color: red;
	z-index: 2
	}
.batmanBegins .agente{
	width: 0px ;
	height: 300px ;
	position: absolute ;
	top: 150px ; 
	right: 135px ;
	background-image: url("ui-img/agente.png");
	background-size: contain ;
	background-repeat: no-repeat;
	transition: all .2s ;
	//border: 1px solid white ;
	//background-color: green;
	z-index: 2
	}
.batmanBegins .falcone{
	width: 0px ;
	height: 170px ;
	position: absolute ;
	top: 10px ; 
	right: 155px ;
	background-image: url("ui-img/falconeBegins.png");
	background-size: contain ;
	background-repeat: no-repeat;
	transition: all .2s ;
	//border: 1px solid white ;
	//background-color: green;
	z-index: 2
	}
.batmanBegins .alfred{
	width: 135px ;
	height: 0px ;
	position: absolute ;
	top: 30px ; 
	right: 70px ;
	background-image: url("ui-img/alfredBegins.png");
	background-size: contain ;
	background-repeat: no-repeat;
	transition: all .2s ;
	//border: 1px solid white ;
	//background-color: green;
	z-index: 2
	}
.batmanBegins .espantaPajaros{
	width: 0px ;
	height: 300px ;
	position: absolute ;
	top: 190px ; 
	right: 145px ;
	background-image: url("ui-img/espanta-pajaros.png");
	background-size: contain ;
	background-repeat: no-repeat;
	transition: all .2s ;
	//border: 1px solid white ;
	//background-color: green;
	z-index: 2
	}
.batmanBegins .luciusBegins{
	width: 120px ;
	height: 0px ;
	position: absolute ;
	top: 120px ; 
	right: 145px ;
	background-image: url("ui-img/luciusBegins.png");
	background-size: contain ;
	background-repeat: no-repeat;
	transition: all .2s ;
	//border: 1px solid white ;
	//background-color: green;
	z-index: 2
	}
.batmanBegins .rachelBegins{
	width: 0px ;
	height:220px ;
	position: absolute ;
	top: 310px ; 
	right: 50px ;
	background-image: url("ui-img/rachelBegins.png");
	background-size: contain ;
	background-repeat: no-repeat;
	transition: all .2s ;
	//border: 1px solid white ;
	//background-color: green;
	z-index: 2
	}

.batmanBegins .btn{

	}



.darkNight{
    width: calc(100% - 60px);
    max-width: 1300px;
    max-height: 663px;
    position: relative;
    margin: 130px auto 0 auto;
    box-sizing: border-box;
	}
.darkNight .wrapperSection{
	display: inline-block;
    margin-left: auto;
  
    right: 0;
    top: 0;	
	}
.darkNight .wrapperSection 	.responsive{
	display: inline-block ;
	margin-left: 35% ;
	}
.darkNight p{
	margin-left: 35% ;
	}
.darkNight .salto{
	display: block ;
	}
.darkNight .espacio {
    margin-left: 0;
	}
.darkNight .bttn{
	margin-left: 35% ;
	}
.darkNight .pantallaGrande{
	display: none ;
	}
.darkNight .wrapperPerson{
	width: 500px  ;
	height: 500px ;
	position: absolute ;
	top: 0 ;
	left: 0 ;
	}
.darkNight .harryDark{
	width: 230px ;
	height: 230px ;
	position: absolute ;
	top: 128px ; 
	margin-left: 1% ;
	background-image: url("ui-img/twoFace.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}
.darkNight .harryDark2{
	width: 0px ;
	height: 230px ;
	position: absolute ;
	top: 128px ; 
	margin-left: 1% ;
	background-image: url("ui-img/harryDark.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}
.darkNight .batmanDark{
	width: 0px ;
	height: 220px ;
	position: absolute ;
	top: 90px ; 
	right: 240px;
	background-image: url("ui-img/batmanDark.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}

.darkNight .gordonDark{
	width: 0px ;
	height: 320px ;
	position: absolute ;
	top: 237px ; 
	right: 230px;
	background-image: url("ui-img/gordonDark.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}
.darkNight .jokerDark{
	width: 0px ;
	height: 320px ;
	position: absolute ;
	top: 237px ; 
	right: 70px;
	background-image: url("ui-img/joker.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}

.darkNightRises{
	max-width: 1300px ;
	max-height: 663px ;
	box-sizing: border-box;
	width: 100% ;
	position: relative;
	padding: 0 32px ;
	margin-top: 130px ;	
	}

.darkNightRises p{
	max-width: 327px ;
	}

.darkNightRises .wrapperPerson{
	width: 100%;
    height: 100%;
    padding: 32px;
    position: absolute;
    right: 0;
    top: 0;
	}
.darkNightRises .espacio{
	margin-left: 2% ;
	}
.darkNightRises .bane{
	width: 32%;
    height: 240px;
    position: absolute;
    top: 75px;
    right: 30px;
	background-image: url("ui-img/bane.png") ;
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}

.darkNightRises .batmanRises{
	width: 0px ;
	height: 120px ;
	position: absolute ;
	top: 95px ; 
	right: 250px ;
	background-image: url("ui-img/batmanRises.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}

.darkNightRises .robinRises{
	width: 0px ;
	height: 220px ;
	position: absolute ;
	top: 245px ; 
	right: 180px ;
	background-image: url("ui-img/robinRises.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}

.darkNightRises .catRises{
	width: 0px ;
	height: 220px ;
	position: absolute ;
	top: 40px ; 
	right: 370px ;
	background-image: url("ui-img/catRises2.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}
.darkNightRises .mirandaRises{
	width: 0px ;
	height: 220px ;
	position: absolute ;
	top: 255px ; 
	right: 370px ;
	background-image: url("ui-img/mirandaRises.png");
	background-size: contain ;
	background-repeat: no-repeat;
	//border: 1px solid white ;
	//background-color: red
	}

/* BATMAN BEGINS */

section h2{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0 ;
    left: 0;
    font-family: 'Passion One', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F9A52A;
    z-index: -1;
	}

.mainHeader{
	height: 90px ;
	}

.mainHeader .mainNav h1{
	position: absolute ;
	top: 50% ;
	left: 50% ;
	transform: translate(-50%, -50%);
	font-size: 1.2rem;
	}

.movies .mainNav .wrapperCartel{
	display: none ;
    width: 100px ;
    position: absolute ;
    left: 50% ;
    transform: translateX(-50%) ;
    opacity: .6 ;
	}

.movies .mainNav .wrapperCartel:hover{
	opacity: 1 ; 
	z-index: 99 ;
	}

.movies .mainNav li:nth-child(1) .wrapperCartel{
	top: 10% ;
	}

.movies .mainNav li:nth-child(2) .wrapperCartel{
	top: 25% ;
	transform: translate(-50%) rotate(-10deg) ;
	}

.movies .mainNav li:nth-child(3) .wrapperCartel{
	top: 50% ;
	}

.movies .mainNav .wrapperCartel img{
	position: absolute ;
	width: 100% ;
	top: 0 ;
	left: 0 ;
	}

section{
	width: calc(100% - 60px);
    margin: 20px auto;
	}

section + section{
	margin-top: 100px ;
	}

.portada{
    padding: 2em 0 0 0 ;
    position: relative ;
    margin: 0 auto ;
	}

.portada h1{
	font-size: 4.5rem ;
	}

.sections{
	width: calc(100% - 60px) ;
	margin: 0 auto ;
	padding: 4.5em 0 0 0 ;
	}

.sections .wrapperSections{
	height: 150px ;
	}

.sections ul{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    font-family: 'Poppins', cursive;
    font-size: 1rem;
	}

.sections .aFixed{
    height: 50px;
    position: fixed;
    top: 90px;
    left: 0;
    flex-direction: row; 
    justify-content: center;
    background-color: black;
    z-index: 999
	}

.sections li{
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: left; 
    align-items: center;
    cursor: pointer;
    transition: color,background,fill .4s;
    position: relative;
	}
	.sections li:hover span{
		color: #F99F18;
		}
	.sections li:hover .ico{
		 background: linear-gradient(to top, #F9A52A, #F99F18);
		}
	.sections li:hover .ico svg{
		fill: white ;
		}

.sections .menufijo{
	width: 60px ;
    padding: 10px;
	}

.sections .ico{
    display: inline-block;
    width: 30px;
    top: -3px;
    height: 30px;
    position: relative;
    border-radius: 100%;
    background-color: white;
	}

.sections .icoSituado{
	cursor: none;
	background: linear-gradient(to top, #F9A52A, #F99F18);
	}

.sections .ico svg{
	width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: black ;
	}

.sections .ico .svgSituado{
	fill: white ;
	}

.sections li span{
    display: inline-block;
    /* width: 100%; */
    margin-left: 10px;
    text-align: center;
	}

.trailer{
    width: calc(100% - 60px) ;
    height: 50vh ;
    max-height: 500px ;
    position: relative ;
    margin: 0 auto ;
    overflow: hidden ;
    padding: 4.5em 0 0 0 ;
    box-sizing: border-box ; 
    z-index: 0 ;
	}

.trailer h2{
	position: relative ;
	top: 35px ;
	}

.trailer .video{
    display: block ;
    width: 80% ;
    height: 80% ;
    position: relative ;
    margin: 0 auto ;
    transform: rotate(-2deg) ;
	}

.trailer .video iframe{
	position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 90%  
	}

section > h1{
	width: 100% ;
	text-align: center ;
	font-size: 3.3rem ;
	//background-color: orange ;
	} 

.ficha{
	width: calc(100% - 60px) ;
	margin: 0 auto ;
	padding: 5em 0 0 0;
	display: flex ;
	flex-wrap: wrap ;
	justify-content: center ;
	background-color: black ; 
	}

.ficha .wrapperFile{
    width: 100% ;
    position: relative ;
	}

.ficha h2{
    position: static ; 
    z-index: 0 ; 
	}

.ficha ul{
    width: 80% ;
    margin: 0 auto ;
    position: relative ;
    font-size: .9rem ;
	}

.ficha ul li{
	width: 100% ;
	margin-top: 10px ;
	}

.ficha ul li span {
	display: inline-block ;
	width: 55% ;
	}

.ficha ul li span + span{
	margin-left: 10px ;
	}

.ficha li span:nth-child(1){
    width: 35%;
    vertical-align: top;
    color: #EEA637;
	}

.personajes{
	margin: 0px  auto ;
	padding: 5em 0 0 0 ;
	display: flex ;
	flex-wrap: wrap ;
	justify-content: center ;
	background-color: black ; 
	}

.personajes .wrapperArticle{
	width: 283px ;
	cursor: pointer ;
	display: flex ;
	flex-wrap: wrap ;
	transition: all .4s ;
	}

.personajes h2{
	position: static;
	z-index: 0 
	}

.personajes .wrapperArticle .front{
	width: 50% ;
	max-width: 250px;
	height: 150px ;
	margin-top: 20px ;
	}

.personajes .wrapperArticle .front:nth-child(1),.personajes .wrapperArticle .front:nth-child(2){
	margin-top: 0 ;
	}

.personajes .wrapperArticle .front .wrapper{
	width: 100% ;
	height: 100%  ;
	padding: 15px ;
	box-sizing: border-box ;
	//background-color: white ;
	position: relative ;
	}

.personajes .wrapperArticle .active{
	display: block ;
	} 

.personajes .wrapperArticle .front .wrapper div{
	position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid 2px white;
    background: red;
}

.personajes article div img{
	position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 100% ;
	}

.personajes article h1{
    width: 70%;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 50%) rotate(-5deg);
    bottom: 10px;
    background-color: white;
    color: black;
	}

.music{
	width: calc(100% - 60px) ;
	margin: 0 auto ;
	padding: 6em 0 0 0 ;
	}

.music h2{
	position: static ; 
	}

.music h3{
	width: 100% ;
	font-size: 1rem ;
	text-align: center ;
	}

.music .wrapperMusic{
	width: 100%  ;
	max-width: 382px ;
	height: 350px  ;
	margin: 50px auto 0 auto ;
	position: relative ;
	}

.music .wrapperMusic .playlist{
	position: absolute ;
	top: 0 ;
	right: 0 ;
	width: 45% ;
	box-sizing: border-box ;
	font-size: .9rem ;
	background-color: white ;
	}

.music .wrapperMusic .button{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 35%;
    left: 5%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
	}	

.music .wrapperMusic .playlist .seleccionada{
	color: red ;
	}

.music .wrapperMusic .controls{
	position: absolute ;
	bottom: 0 ;
	right: 0 ;
	width: 100% ;
	box-sizing: border-box ;
	background-color: white ;
	}	

.music .wrapperMusic .button i{
	display: block ;
	width: 40px ;
	height: 40px ;
	position: relative ;
	border-radius: 100% ;
	border: 1px solid white ;
	background-color: black ;
	}

.music .wrapperMusic .button i:hover{
	background-color: #EEA637
	}

.music .wrapperMusic .button i svg{
	position: absolute ;
	top: 50% ;
	left: 55% ;
	transform: translate(-50%,-50%);
	width: 50%;
	fill: white;
	}

.music .wrapperMusic .button .stop svg {
    left: 50%;
    width: 45%;
	}

.music ul{
	position: absolute; 
	left: 0 ;
	top: 0 ;
	width: 100% ;
	height: 50px ;	
	}

.music ul li{
	//position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	//height: 50px ;
	margin-top: 10px ;
	//text-align: center ;
	color: white ;
	//background-color: rgba(255,255,255) ;
	}

.music .posicion{
	z-index: 999 ;
	}

#audioplayer{
	position: absolute;
	bottom: -20px  ;
	left: 0 ;
	width: 100%;
	height: 60px;
	}

#pButton{
    height:60px; 
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
	}

.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
	width: 95%;
	height: 5px;
	margin: 0 auto ;
	//float: left;
	//border-radius: 15px;
	background: rgba(255,255,255,.3);
  
}

#playhead{
	width: 28px;
	height: 28px;
	position: relative ;
	//border-radius: 50%;
	margin-top: 1px;
	//background: black;
	}

#playhead .timeAudio{
	position: absolute ;
	width: 100% ;
	height: 100% ;
	top: -38% ;
	left: 0 ;
	}	
#playhead .timeAudio svg{
	position: absolute ;
	width: 100% ;
	height: 100% ;
	top: 0 ;
	left: 0 ;
	}

.galeria{
	width: calc(100% - 60px) ;
	margin: 0 auto ;
	padding: 5em 0 0 0 ;
	}

.galeria h2{
	position: static ;
	}

.diapo{
	position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 0 auto;
	}

.diapo div{
	display:inline-block;
	}

.diapo div label div{
	background-size: cover ;
	background-repeat: no-repeat ;
	}

.diapo div:nth-child(1) label div{
	background-image: url("ui-img/batman-begins.jpg") ;
	}

.diapo div:nth-child(2) label div{
	background-image: url("ui-img/batman-begins-poster1.jpg") ;
	}
	
.diapo div:nth-child(3) label div{
	background-image: url("ui-img/batman-begins-poster2.jpg") ;
	}
	
.diapo div:nth-child(4) label div{
	background-image: url("ui-img/batmovil.jpg") ;
	}
	
.diapo div:nth-child(5) label div{
	background-image: url("ui-img/nolan.jpg") ;
	}
	
.diapo div label div:nth-child(6){
	background-image: url("ui-img/batman-begins.jpg") ;
	}
.diapo .big_image{
	display: none ;
    position:fixed;
    width:250px;
    top: 60% ;
    left:50%;
 	transform: translate(-50%,-50%);
    border:10px solid #FFF;
    box-shadow: 0 2px 8px 2px #666;
    z-index: 1000
	}

.diapo .big_image div{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 80px;
    right: -10px;
    z-index: 1001;
    background-color: red;
	}

.velo{
	display: none ;
	position: fixed ;
	width: 100vw ;
	height: 100vh ;
	top: 0 ;
	left: 0 ;
	background-color: black ;
	opacity: .8 ;
	z-index: 999
	}

.big_image img{
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
	}

.r_check, .on_check{
	cursor: pointer;
	}

.r_check:checked ~ label img{
	opacity:0.25;
	border:2px solid #006699;
	}

.r_check:checked ~ .big_image {
  opacity:1;
  -webkit-transform:scale(1);
     -moz-transform:scale(1);
      -ms-transform:scale(1);
       -o-transform:scale(1);
          transform:scale(1);
	}

.r_check{
/*  display:none;/* si masquer pas acces avec touche */
	opacity:0;
	position:absolute;
	}

label .vignette{
  width:100px;
  height:75px;
  border:2px solid #FFF;
}
.retour{
  color:#909090;
  font-size:1em;
  left:1em;
  bottom:1em;
  position:fixed;
  text-decoration:none;
  font-style:italic;
  text-shadow:1px 1px 0px #FFF;
}
.retour:hover{
  font-style:normal;
  color:#706040;
}


footer{
	box-sizing: border-box;
	padding: 6rem 2rem 2rem;
	position: relative;
	background: black; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, black, #3A3535); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, black, rgba(20,20,20));
	}

footer .container{
	margin: 0 auto ;
	display: flex ;
	justify-content: space-around ;
	}

footer li{
	width: 40px ;
	height: 40px ;
	margin: 0 20px ;
	border-radius: 100% ;
	position: relative ;
	}

footer li:nth-child(3){
	background-color: white ;
	}

footer li a{
	width: 100% ;
	height: 100% ;
	position: absolute ;
	top: 0 ;
	left: 0 ;
	}

footer .codepen{
	width: 80% ;
	height: 80% ;
	top: 50% ;
	left: 50% ;
	transform: translate(-50%,-50%);
	}

footer span{
	display: block ;
	width: 100% ;
	margin-top: 20px ;
	font-size: 1rem ;
	text-align:  center
	}

@media(min-width: 390px){
	/*.symbolBatman {
    	display: block;
    	width: 330px;
    	height: 330px;
    	}
    .hero h1:nth-of-type(1) {
    	position: absolute;
    	top: 33%;
    	}
	.hero h1:nth-of-type(2){
		font-size: 1.4rem;
		top:47%;
		}	
	.hero .nolan{
		top: 68%;
		}*/
	.batmanBegins .batman{
		top: 50px ;
		}
}
@media(min-width: 430px){
	.sections {
		height: 30vh ;
    	margin: 50px auto 0 auto;
		}

	.sections ul{
		height: 40vh ;
		font-size: 1.2rem ;
		}
	.sections .ico {
    	width: 40px;
    	height: 40px;
		}
}

@media(min-width: 450px){
	
	.batmanBegins .batman{
		top: 10px ;
		}	

	.darkNightRises .bane {
    	width: 30%;
    	top: 45px;
	    right: 40px;
		}

}

@media(min-width: 475px){
	
	.batmanBegins .batman{
		right: 85px ;
		} 

}

@media(min-width: 500px){
	
	body{
		font-size: 1.2rem ;
		}

	.hero .wrapperHero {
    	transform: translateY(-50%) scale(1.2);
    	}

	.batmanBegins .batman{
		right: 115px ;
		}
	
	.darkNight .harryDark {
    	top: 132px ;
    	}
	
	.darkNightRises .bane{
		top: 35px ;
    	right: 130px ;
		}
	
	.trailer{
		height: 55vh ;	
		}
	
	.trailer h2{
		top: 18% ;
		}

}

@media(min-width: 550px){
	
	.batmanBegins{
		margin-left: 40px ;
		}

	.darkNight{
		margin: 130px auto 0 40px ;
		}

	.darkNight .harryDark{
		margin-left: 5% ;
		}

	.darkNightRises{
		margin-left: 40px ;
		}

	.darkNightRises .bane {
    	top: 30px ;
   	 	right: 110px ;
    	width: 26% ;
    	}

	section h2{
		font-size: 5.5rem ;
		}

	.portada h1 {
    	font-size: 6rem ;
		}

	.sections ul {
    	font-size: 1.5rem ;
		}

	.sections .ico {
    	width: 50px ;
    	height: 50px ;
		}

	.trailer {
    	height: 65vh ;
		}

	.trailer h2 {
		top: 9% ;
		}

	.trailer .video {
		height: 100% ;
    	margin: 20px auto 20px auto ;
		}

	.ficha ul{
		font-size: 1.2rem ;
		}

	.personajes .wrapperArticle {
    	width: 383px ;
    	}

    .personajes .wrapperArticle .front {
    	height: 200px ;
    	}

}

@media(min-width: 624px){
	
	.portada{
		height: 315px ;
    	padding: 0 ;
		}

}

@media(min-width: 640px){
	
	.hero .wrapperHero {
    	transform: translateY(-50%) scale(1.4);
		}

	.arrow{
    	bottom: 7%;
		}

	@keyframes mvtArrow{
		100%{
			 bottom: 11%;
			 transform: translate(-50%,-50%) rotate(90deg);
			}
		}

}

@media(min-width: 650px){
	
	.batmanBegins .batman {
    	right: 145px ;
		}

	.darkNightRises .bane {
    	top: 20px ;
    	right: 120px ;
    	width: 200px ;
    	}
	
   	.portada h1 {
    	font-size: 7rem;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
		}

}

@media(min-width: 660px){

	body{
		font-size: 1.3rem ;
		}

	.wrapperSection > span {
		font-size: 4.5rem ;
		}

	section{
		width: calc(100% - 80px)
		}

	.batmanBegins{
		display: block ;
		padding: 0 48px ;
		margin-top: 100px ;
		}

	.darkNight {
    	margin: 180px auto 0 40px;
		}

	.darkNight .joker{
		top: 249px ; 
		}

	.darkNight .harryDark{
		width: 250px;
    	height: 250px;
    	top: 180px;
    	margin-left: 10%;	
		}

	.darkNightRises{
		padding: 0 48px ; 
		margin-top: 180px ;
		}

	.darkNightRises .bane{
		top: 50px;
    	right: 110px;
		} 

	.bttn{
		font-size: 20px ;
		width: 205px ;
		}

} 

@media (min-width: 670px){

	.batmanBegins .batman {
    	right: inherit;
    	left: 450px ;
		}

} 

@media (min-width: 660px){

	.darkNightRises .bane {
    	top: 50px;
    	right: 140px;
    	}

}

@media (min-width: 700px){
	
	.darkNightRises .bane {
    	left: 430px ; 
    	right: inherit ;
		}
}

@media(min-width: 764px){

	.trailer{
		height: 75vh ;	
		}

	.trailer h2 {
    	top: 7%;
    	}
}

@media(min-width: 791px){

	.sections{
		height: 20vh ;
		background-color: black ;
		}

	.sections ul{
		display: block ;
		height: 20vh ;
		}

	.sections li{
		width: 19% ;
		display: inline-block ;
		}

	.sections .ico {
    	display: block ;
    	left: 50% ;
    	transform: translateX(-50%) ;
		}

	.sections li span {
    	display: block ;
    	width: 100% ;
    	margin-left: 0 ; 
    	text-align: center ;
		}

	.sections .aFixed{
    	width: calc(100% - 60px) ;
    	height: 100px ;
    	left: 50% ;
    	transform: translateX(-50%) ;
		}

	.trailer::after,.trailer::before{
		border-top: dashed 6px white ;
		}

}

@media(min-width: 805px){

	.hero .wrapperHero {
    	top: 42% ;
    	transform: translateY(-50%) scale(1.6) ;
    	}

    .batmanBegins{
    	padding: 0 78px ;
    	}

	.batmanBegins .batman {
    	left: 480px ;
		}

	.darkNight .wrapperSection {
    	margin-left: 181px ;
    	}

    .darkNight .harryDark {
    	margin-left: 40%;
		}

    .darkNightRises {
    	padding: 0 78px ;
    	}

	.trailer{
		height: 75vh ;	
		}

} 

@media (min-width: 869px){

	.batmanBegins .batman {
    	left: 500px ;
		}

}

@media(min-width: 900px){

	.darkNight .harryDark {
    	width: 290px ;
    	height: 290px ;
    	top: 170px ;
		}

	.trailer{
		height: 85vh ;	
		}

} 

@media (min-width: 909px){

	.batmanBegins .batman {
    	left: 530px ;
		}

}

@media(min-width: 960px){

	.batmanBegins .batman {
    	right: 245px ;
		}

} 

@media(min-width: 1000px){
	
	.hero .wrapperHero {
    	top: 42% ;
    	transform: translateY(-50%) scale(1.6) ;
    	}

    .symbolBatman {
    	width: 500px ;
    	height: 500px ;
    	}

   	.hero h1:nth-of-type(1) {
    	top: 21% ;
    	}

	.hero h1:nth-of-type(2) {
    	top: 42% ; 
    	}

    .hero .nolan {
    	top: 88% ;
    	}		

	.movies .mainNav{
		display: block ;
		width: 160px ;
		height: 100vh ;
		top: 0 ;
		left: 0 ;
		box-sizing: border-box ;
		}

	.movies .mainNav .logoPage{
		top: 35px ;
		left: 50% ;
		transform: translateX(-50%);
		}

	.movies .mainNav .burger{
		display: none ;
		}

	.movies .mainNav h1:nth-of-type(1) {
    	display: none ;
		}

	.movies .mainNav h1:nth-of-type(2) {
   		display: none ;
		}

	.movies .mainNav .nolan{
		display: none ;
		}

	.movies ul {
    	width: 100% ;
    	height: 80% ;
    	position: absolute;
    	top: 20%;
    	left: 0%;
    	padding: 0px 0px; 
		}

	.movies a{
		display: block ;
		width: 100% ;
		text-align: center ;
		font-size: 1.2rem ;
		letter-spacing: 1px ;
		color: white ;
		text-decoration: none ;
		} 

	.movies .mainNav .wrapperCartel{
		display: block ;
		}

	.movies span{
		display: none ;
		width: 100% ;
		text-align: center ;
		z-index: 5
		}

	section {
    	width: calc(100% - 160px);
		}

	.portada{
		height: 315px ;
		margin: 35px auto 0 160px; 
    	padding: 0 ;
		}

	.trailer{
		width: calc(100% - 160px) ;
		margin: 5px 0 0 auto;
		box-sizing: border-box ;
		}

	.trailer .video {
		width: 60% ;
		}

	.sections{
		width: 100% ;
    	padding-left: 160px ;
    	box-sizing: border-box ;
		}

	.sections ul{
		width: 80% ;
    	margin: 0 auto 0 auto ;
		}

	.sections .aFixed{
		width: calc(100% - 160px) ;
    	height: 100px ;
    	top: 0 ;
    	left: 160px ;
    	padding-top: 28px ;
    	transform: translateX(0%) ;
    	}

	.ficha{
	    width: calc(100% - 160px) ;
	    margin: 100px 0 0 auto ;
	    position: relative ;
		}

	.ficha .cajaFicha{
		width: 50% ;
    	height: 500px ;
    	position: absolute ;
    	top: 0 ;
   	 	left: 0 ;
		}

	.ficha .titleFicha{
		font-size: 10rem;
    	transform: rotate(270deg);
    	position: absolute;
    	bottom: 32%;
    	right: 15%;
    	color: white;
		}

	.ficha .cajaFicha div{
		width: 65%;
    	height: 440px;
    	position: absolute;
    	top: 25px;
    	right: 10px;
    	background-image: url(ui-img/agente.png);
    	background-size: contain;
    	background-repeat: no-repeat;
		}
		.ficha .cajaFicha .velo{
		width: 65%;
    	height: 440px;
    	position: absolute;
    	top: 25px;
    	right: 10px;
    	background-color: black ;
    	opacity: .2;
		}
	.ficha .cajaDatos{
	    width: 50%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.8));
		}
	.ficha ul{
		//display: none ;
		width: 70% ;
		}
	.personajes{
		width: calc(100% - 160px);
		margin: 100px 0 0 auto;		
		}
	.music{
		width: calc(100% - 160px);
		margin: 100px 0 0 auto;		
		}
	.galeria{
		width: calc(100% - 160px);
		margin: 100px 0 0 auto;			
		}
	.galeria{
		width: 70% ;
		margin: 150px 2% 0 calc(160px + 7%);
		}

} 

@media(min-width: 1018px){

		.trailer::after,.trailer::before{
			border-top: dashed 8px white ;
			}
		.trailer:hover::after,.trailer:hover::before{
	
		animation: mvt 8s linear infinite ;
		}
	}

@media(min-width: 1100px){

	body{
	font-size: 1.8rem ;
	}
	.wrapperSection > span {
		font-size: 6rem ;
	}
	.sections ul{
		width: 80% ;
		}
	.Reveal_item + .Reveal_item {
    	margin-left: -15px;
		}
	.bttn {
    	width: 225px ;
    	position: absolute ;
    	font-size: 20px ; 
		}
	.batmanBegins .prueba {
    	width: 400px ;
    	height: 400px ;
	    left: 500px ;
	    top: 0% ;
	    transform: translateX(0px) ;
		}

	.batmanBegins .batman {
		width: 20% ;
    	height: 300px ;
    	top: 60px ;
    	left: 225px ;
    	}

    .batmanBegins .espantaPajaros {
		width: 70%;
    	height: 250px;
    	top: 60px;
    	right: 65px;
		}	
    .batmanBegins .alfred {
		width: 12%;
    	height: 200px;
    	top: 45px;
    	right: 238px;
		}
	.batmanBegins .luciusBegins {
    	width: 10%;
    	height: 100px;
    	top: 230px;
    	right: 250px;
		}

	.batmanBegins .bttn{
		bottom: 4% ;
    	left: 590px ;
		}

	.darkNight .pantallaPequeña{
		display: none ;
		}

	.darkNight .pantallaGrande{
		display: block ;
		}
	
	.darkNight .wrapperPerson {
	    width: 500px;
	    height: 500px ;
	    position: absolute ;
	    top: 2% ;
	    left: -12% ;
		}
	.darkNight .jokerDark {
	    width: 100px;
	    height: 320px;
	    position: absolute;
	    top: 297px;
	    right: 50px;
	    background-image: url(ui-img/joker.png);
	    background-size: contain;
	    background-repeat: no-repeat;
		}
	.darkNight .harryDark {
	    width: 290px;
	    height: 290px;
	    top: 150px;
	    left: 160px;
		}
	.darkNight .harryDark2 {
	    width: 100px;
	    height: 200px;
	    position: absolute;
	    top: 178px;
    	left: 280px;
	    background-image: url(ui-img/harryDark.png);
	    background-size: contain;
	    background-repeat: no-repeat;
		}
	.darkNight .alfredDark {
	    width: 100px;
	    height: 160px;
	    position: absolute;
	    top: 358px;
	    left: 255px;
	    background-image: url(ui-img/alfredDark.png);
	    background-size: contain;
	    background-repeat: no-repeat;
		}
	.darkNight .bttn{
		margin-left: 48%;
    	bottom: -25%;
		}
	.darkNightRises .espacio{
		margin-left: 2% ;
		}
	.wrapperPerson{
		position: absolute;
		top: 20px ;
		right: 0px ;	
	}
	.darkNightRises .wrapperPerson {
    	width: 560px ;
    	left: 500px ;
    	top: 14% ;
    	}
    .darkNightRises .bttn{
		position: absolute;
		font-size: 20px;
    	bottom: 10px;
    	left: 605px;
    	}

	.darkNightRises .bane{
		width: 260px ;
		height: 260px ;
		position: absolute ;
		top: 135px ; 
		left: 120px ; 
		}

	.darkNightRises .batmanRises{
		width: 120px ;
		}

	.darkNightRises .robinRises{
		width: 220px ;
		}

	.darkNightRises .catRises{
		width: 220px ;
		}
	.darkNightRises .mirandaRises{
		width: 220px ;
		}

	footer{
		margin-top: 180px ;
		}

	footer li{
		width: 60px ;
		height: 60px ;
		}
	footer span {
    	bottom: 3.5rem;
    	font-size: 1.3rem;
		}
	/*****BEGINS**********/
	.personajes .wrapperArticle {
    	width: 885px;
    	justify-content: center;
		}

	.personajes .wrapperArticle .front {
    	height: 250px;
    	}

	.diapo .big_image {
    	width: 350px;
    	}

    label .vignette{
  		width:150px;
  		height:125px;
 		border:2px solid #FFF;
		}

}


@media(min-width: 1300px){
		body{
	font-size: 2rem ;
	}
	.wrapperSection > span {
		font-size: 6.2rem ;
	}
	.bttn {
    	margin-top: 0 ; 
    	}

    .batmanBegins{
    	width: 91% ;
    	margin-left: 80px ;
    	}

	.batmanBegins .prueba {
		top: 20% ;
    	transform: translateX(0px) scale(1.2);
		}

	.batmanBegins .bttn {
    	right: 23%;
    	bottom: -17% ;
		}

	.wrapperSection .espacio{
		display: inline-block;
		margin-left: 30px ;
		}

	.darkNight {
    	margin: 280px auto 0 40px;
		}

	.darkNight .wrapperPerson{
		top: 0 ;
		left: -5% ;
		transform: scale(1.1);
		}

	.darkNight .bttn {
    	bottom: -20% ;
		}

	.darkNightRises p{
    	max-width: none ; 
		}
	
	.darkNightRises .wrapperPerson {
    	left: 700px;
    	}

	.darkNightRises .bttn{
		position: absolute;
	    left: 800px;
	    bottom: 15px;
		}

}
.card{
	width: 80% ;
	height: 80vh ;
	position: relative ;
	border: solid 1px white ;
	margin: 100px auto 0 auto;
	}

.titleFilm{
	width: 40% ;
	height: 80vh ;
	position: absolute ;
	top: 0 ;
	left: 0 ;
	border-radius: 30px ;
	background-color: #cf3743;

	}
/*body{
	background-color: white ;
	}
.titleFilm h1{
    position: absolute;
    left: 15%;
    font-size: 7.5rem;
    line-height: 90px;
    transform: rotate(270deg);
    color: #A22D36;
    //background-color: blue;
    height: 100%;
    text-align: center;
	}
.description{
	width: 70% ;
	height: 70vh ;
	position: absolute ;
	top: 50% ;
	right: 8% ;
	transform: translateY(-50%);
	border-radius: 30px ;
	background-color: #0C1F2D
	}*/